body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  color: white;
  flex-direction: column;
}
button {
  width: 200px;
  height: 50px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  background: #444;
  border: none;
  color: rgb(225, 13, 13);
  transition: background 0.3s;
}
button:hover {
  background: #555;
}